@import url("https://fonts.googleapis.com/css2?family=Comme&family=Josefin+Sans:ital,wght@1,300&family=Kanit&family=Oleo+Script&family=Sigmar&family=Tinos&display=swap");
header .background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content p, .description, .mision,
.vision {
  text-align: justify;
  font-family: "Kanit";
  font-size: 120%;
}

.title-equipo, .title-2, .title {
  background-color: #d698da;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 170%;
  text-align: center;
  padding-bottom: 5px;
  width: 100%;
}

.opciones-asesoria h5, div h4 {
  text-align: center;
  padding: 15px;
}

.p3, .p2, .p1 {
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.op3, .op2, .op1 {
  width: 100%;
  padding: 5px;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
header nav {
  /**background-color: nth($colores, 1);**/
  background-color: white;
  border-bottom: 1px solid black;
  width: 100%;
}
header nav a img {
  width: 50px;
}
header .background {
  /*background-color: nth($colores, 1);*/
  background-color: white;
  width: 100%;
}
header .background a {
  font-family: "Tinos";
  font-size: 130%;
}

.footer {
  background-color: #DFE1E1;
}
.footer .Seguir {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  color: blue;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .social-media {
  display: flex;
  justify-content: space-around;
}
.footer .social-media .instagram,
.footer .social-media .facebook {
  text-align: center;
}
.footer .social-media .instagram .img-2,
.footer .social-media .facebook .img-2 {
  width: 40px;
}
.footer .social-media .instagram p,
.footer .social-media .facebook p {
  font-family: "Tinos";
}

/*pages*/
header .background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content p, .description, .mision,
.vision {
  text-align: justify;
  font-family: "Kanit";
  font-size: 120%;
}

.title-equipo, .title-2, .title {
  background-color: #d698da;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 170%;
  text-align: center;
  padding-bottom: 5px;
  width: 100%;
}

.opciones-asesoria h5, div h4 {
  text-align: center;
  padding: 15px;
}

.p3, .p2, .p1 {
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.op3, .op2, .op1 {
  width: 100%;
  padding: 5px;
}

.titulo {
  width: 100%;
}
.titulo div .sy {
  font-family: "Oleo Script";
  font-size: 500%;
  padding-top: 95px;
  text-align: center;
}
.titulo div .slogan {
  font-family: "Josefin Sans";
  font-size: 200%;
  text-align: center;
  padding: 10px;
  color: #948075;
  width: 100%;
}

.foto-grupal {
  width: 100%;
  padding: 20px 20px;
}

.questions {
  background-color: #DFE1E1;
  font-family: "Sigmar";
  font-size: 2rem;
  padding: 10px 10px;
  text-align: center;
}

.bold {
  color: #849494;
}

.mision,
.vision {
  margin: 20px 70px 20px 70px;
}

.description {
  padding: 20px;
}

.valores img {
  margin-top: 30px;
}

header .background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content p, .mision,
.vision, .description {
  text-align: justify;
  font-family: "Kanit";
  font-size: 120%;
}

.title-equipo, .title-2, .title {
  background-color: #d698da;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 170%;
  text-align: center;
  padding-bottom: 5px;
  width: 100%;
}

.opciones-asesoria h5, div h4 {
  text-align: center;
  padding: 15px;
}

.p3, .p2, .p1 {
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.op3, .op2, .op1 {
  width: 100%;
  padding: 5px;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
header nav {
  /**background-color: nth($colores, 1);**/
  background-color: white;
  border-bottom: 1px solid black;
  width: 100%;
}
header nav a img {
  width: 50px;
}
header .background {
  /*background-color: nth($colores, 1);*/
  background-color: white;
  width: 100%;
}
header .background a {
  font-family: "Tinos";
  font-size: 130%;
}

header .background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content p, .mision,
.vision, .description {
  text-align: justify;
  font-family: "Kanit";
  font-size: 120%;
}

.title-equipo, .title-2, .title {
  background-color: #d698da;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 170%;
  text-align: center;
  padding-bottom: 5px;
  width: 100%;
}

.opciones-asesoria h5, div h4 {
  text-align: center;
  padding: 15px;
}

.p3, .p2, .p1 {
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.op3, .op2, .op1 {
  width: 100%;
  padding: 5px;
}

.content p {
  margin: 20px 70px 20px 70px;
}

.title {
  padding-top: 90px;
}

.title-2 {
  padding: 10px;
}

.div-carousel {
  padding: 20px 80px;
}

.footer {
  background-color: #DFE1E1;
}
.footer .Seguir {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  color: blue;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .social-media {
  display: flex;
  justify-content: space-around;
}
.footer .social-media .instagram,
.footer .social-media .facebook {
  text-align: center;
}
.footer .social-media .instagram .img-2,
.footer .social-media .facebook .img-2 {
  width: 40px;
}
.footer .social-media .instagram p,
.footer .social-media .facebook p {
  font-family: "Tinos";
}

header .background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mision,
.vision, .description, .content p {
  text-align: justify;
  font-family: "Kanit";
  font-size: 120%;
}

.title-equipo, .title, .title-2 {
  background-color: #d698da;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 170%;
  text-align: center;
  padding-bottom: 5px;
  width: 100%;
}

.opciones-asesoria h5, div h4 {
  text-align: center;
  padding: 15px;
}

.p3, .p2, .p1 {
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.op3, .op2, .op1 {
  width: 100%;
  padding: 5px;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
header nav {
  /**background-color: nth($colores, 1);**/
  background-color: white;
  border-bottom: 1px solid black;
  width: 100%;
}
header nav a img {
  width: 50px;
}
header .background {
  /*background-color: nth($colores, 1);*/
  background-color: white;
  width: 100%;
}
header .background a {
  font-family: "Tinos";
  font-size: 130%;
}

header .background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mision,
.vision, .description, .content p {
  text-align: justify;
  font-family: "Kanit";
  font-size: 120%;
}

.title-equipo, .title, .title-2 {
  background-color: #d698da;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 170%;
  text-align: center;
  padding-bottom: 5px;
  width: 100%;
}

.opciones-asesoria h5, div h4 {
  text-align: center;
  padding: 15px;
}

.p3, .p2, .p1 {
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.op3, .op2, .op1 {
  width: 100%;
  padding: 5px;
}

.div-general {
  padding: 10px;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas: "asesoria asesoria asesoria" "op1 op2 op3";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px, auto;
}

.opciones-asesoria {
  grid-area: asesoria;
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.op1 {
  grid-area: op1;
}

.op2 {
  grid-area: op2;
}

.op3 {
  grid-area: op3;
}

header .background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mision,
.vision, .description, .content p {
  text-align: justify;
  font-family: "Kanit";
  font-size: 120%;
}

.title-equipo, .title, .title-2 {
  background-color: #d698da;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 170%;
  text-align: center;
  padding-bottom: 5px;
  width: 100%;
}

div h4, .opciones-asesoria h5 {
  text-align: center;
  padding: 15px;
}

.p1, .p2, .p3 {
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.op1, .op2, .op3 {
  width: 100%;
  padding: 5px;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
header nav {
  /**background-color: nth($colores, 1);**/
  background-color: white;
  border-bottom: 1px solid black;
  width: 100%;
}
header nav a img {
  width: 50px;
}
header .background {
  /*background-color: nth($colores, 1);*/
  background-color: white;
  width: 100%;
}
header .background a {
  font-family: "Tinos";
  font-size: 130%;
}

.title-equipo {
  padding-top: 90px;
  padding-left: 10px;
  padding-right: 10px;
}

.cards {
  padding: 5px 20px;
  text-align: center;
  width: 100%;
}

.individual-card {
  margin: 20px;
}

header .background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mision,
.vision, .description, .content p {
  text-align: justify;
  font-family: "Kanit";
  font-size: 120%;
}

.title, .title-2, .title-equipo {
  background-color: #d698da;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 170%;
  text-align: center;
  padding-bottom: 5px;
  width: 100%;
}

div h4, .opciones-asesoria h5 {
  text-align: center;
  padding: 15px;
}

.p1, .p2, .p3 {
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.op1, .op2, .op3 {
  width: 100%;
  padding: 5px;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
header nav {
  /**background-color: nth($colores, 1);**/
  background-color: white;
  border-bottom: 1px solid black;
  width: 100%;
}
header nav a img {
  width: 50px;
}
header .background {
  /*background-color: nth($colores, 1);*/
  background-color: white;
  width: 100%;
}
header .background a {
  font-family: "Tinos";
  font-size: 130%;
}

.div-contacto {
  padding: 25px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .div-carousel {
    padding: 20px;
  }
}
@media screen and (max-width: 768px) {
  .mision,
  .vision {
    margin: 20px;
  }
  .content p {
    margin: 30px;
  }
}
@media screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-areas: "asesoria" "op1" "op2" "op3";
    grid-template-columns: 1fr;
    grid-template-rows: 80px, repeat(3, auto);
  }
}
@media screen and (max-width: 600px) {
  .cards {
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  .individual-card {
    text-align: center;
    padding: 20px;
    width: 100%;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
