@import "../base/listas";
@import "../base/extends";

.titulo{
    width: 100%;
    div{
        
        .sy{
            font-family: nth($font-family, 3);
            font-size: 500%;
            padding-top: 95px;
            text-align: center;

        }
    }
    div{
        .slogan{
            font-family: nth($font-family, 7);
            font-size: 200%;
            text-align: center;
            padding: 10px;
            color: nth($colores, 4);
            width:100%;
        }
    }
}

.foto-grupal{
    width: 100%;
    margin: 20px 20px;
}

.questions{
    background-color: nth($colores, 1);
    font-family: nth($font-family, 1);
    font-size: 2rem;
    padding: 10px 10px;
    text-align: center;
}

.bold{
    color: nth($colores, 2);
}

.mision, 
.vision{
    @extend %text;
    margin: 20px 70px 20px 70px;

}

.description{
    @extend %text;
    padding: 20px;
}

.valores{
    img{
        margin-top: 30px;
    }
}