@media screen and (max-width:768px) {
    .div-carousel{
        padding: 20px ;
    }
}

@media screen and (max-width:768px) {
    .mision,
    .vision{
        @extend %text;
        margin: 20px;
    }
    .content{
        p{
            @extend %text;
            margin: 30px;
        }
    }
}

@media screen and (max-width:600px) {
    .grid-container{
        display: grid;
        grid-template-areas: 
        'asesoria'
        'op1'
        'op2'
        'op3';
        grid-template-columns: 1fr;
        grid-template-rows: 80px, repeat(3, auto);
    }
}

@media screen and (max-width:600px) {
    .cards{
        padding: 20px;
        text-align: center;
        width: 100%;
    }
    .individual-card{
        text-align: center;
        padding: 20px;
        width: 100%;
        margin: auto;
    }
    
}